.wrap {
  width: 60%;
}

.search {
  display: flex;
  width: 100%;
}

.search-term {
  border: 3px solid #00b4cc;
  border-radius: 5px 0 0 5px;
  border-right: none;
  color: #9dbfaf;
  height: 20px;
  outline: none;
  padding: 5px;
  width: 100%;
}

.search-term:focus {
  color: #00b4cc;
}

.add-favorite {
  background: #00b4cc;
  border: 1px solid #00b4cc;
  border-radius: 0 5px 5px 0;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  height: 36px;
  text-align: center;
  width: 40px;
}

.star:hover {
  color: transparent;
  position: relative;
  width: 1.1em;
}
.star:hover:before {
  color: #ffffff;
  content: '\2605';
  left: 0;
  position: absolute;
}

.active {
  color: transparent;
  position: relative;
  width: 1.1em;
}
.active:before {
  color: #ffffff;
  content: '\2605';
  left: 0;
  position: absolute;
}
